@import "../../utils/global.scss";

.navbar {
  background: #333;
  color: #fff;
  a {
    color: #fff;
  }
  .navbar__contents {
    @include flexBox(space-between, center, row);
    @include container();
    padding: 1rem 0;
    .right__nav {
      ul {
        display: flex;
        align-items: center;
        gap: 1rem;
        list-style: none;
        cursor: pointer;
        .signup {
          a {
            color: #333;
          }
          background-color: #fff;
          color: #333;
          border: 1px solid #fff;
          padding: 0.2rem;
          border-radius: 0.3rem;
          font-weight: 700;
          :hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}
